.Container {
	position: relative;
	top: 0;
	height: 90vh;
	width: 30vw;
	background-color: #ffffff;
}

.list-contact {
	max-width: 450px;
	height: 77.5vh;
}

.scroll-contact {
	height: 100%;
	overflow: auto;
}

.space-30 {
	height: 30px;
}

  /* scrollbar */

::-webkit-scrollbar {
	position: relative;
	bottom: 100px;
	width: 2.5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: rgb(56, 211, 159);
}